<div class="x_content">
  <br />
  <div style="width: 48%; float: left">
  <div class="form-group">
    <%= label :down_date, "Fecha De Baja" %>
    <%= datetime_local_field(:incapacity, :down_date) %>
  </div>

  <div class="form-group">
    <%= f.label :doctor, "Doctor" %>
    <%= f.text_field :doctor, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :insurance, "Aseguradora" %>
    <%= f.text_field :insurance, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :condition, "Condicion Medica" %>
    <%= f.text_area :condition, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.hidden_field :name, :value => @employee.name%>
  </div>
  
</div>
<br>
</div>
