              <div class="x_content">
                <br />
                <div style="width: 48%; float: left">
                <div class="form-group">
                  <%= f.label :name, "Nombre" %>
                  <%= f.text_field :name, class: "form-control", placeholder: "Su Nombre" %>
                </div>
                <div class="form-group">
                  <%= f.label :profession, "Profesion" %>
                  <%= f.text_field :profession, class: "form-control", placeholder: "Profesion" %>
                </div>
                <div class="form-group">
                  <%= f.label :email, "Correo" %>
                  <%= f.email_field :email, class: "form-control", placeholder: "Correo" %>
                </div>
                <div class="form-group">
                  <%= f.label :cellphone, "Telefono" %>
                  <%= f.number_field :cellphone, class: "form-control", placeholder: "Telefono" %>
                </div>
                <div class="form-group">
                  <%= f.label :birth_at, "Fecha de Nacimiento" %>
                  <%= f.date_field :birth_at, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :birth_place, "Lugar de nacimiento" %>
                  <%= f.text_field :birth_place, class: "form-control", placeholder: "birth_place" %>
                </div>
                <div class="form-group">
                  <%= f.label :work_id, "Codigo de Empleado" %>
                  <%= f.number_field :work_id, class: "form-control", placeholder: "Codigo Empleado" %>
                </div>
                <div class="form-group">
                  <%= f.label :date_admission, "Fecha de admision" %>
                  <%= f.date_field :date_admission, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :RAP_code, "Codigo de RAP" %>
                  <%= f.text_field :RAP_code, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :salary, "Salario" %>
                  <%= f.number_field :salary, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Genero</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <%= f.radio_button :gender, "Hombre" %> &nbsp; Masculino &nbsp;
                      </label>
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <%= f.radio_button :gender, "Mujer" %> Femenino
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 48%; float: right">
                <div class="form-group">
                  <%= f.label :address, "Direccion" %>
                  <%= f.text_field :address, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :identity_number, "Numero de Cedula" %>
                  <%= f.number_field :identity_number, class: "form-control", placeholder: "Numero de Cedula" %>
                </div>
                <div class="form-group">
                  <%= f.label :base_belong, "Base a la que pertenece" %>
                  <%= f.text_field :base_belong, class: "form-control", placeholder: "Base" %>
                </div>
                <div class="form-group">
                  <%= f.label :contract_type, "Tipo de Contrato" %>
                  <%= f.select :contract_type, Employee.contracts, {}, class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.label :civil_status, "Estado Civil: " %>
                  <%= f.select :civil_status, Employee.civil_statuses, {}, class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.label :scheduletype, "Tipo de  Jornada: " %>
                  <%= f.select :scheduletype, Employee.tiposhorarios, {}, class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.label :bank_account, "Cuenta de Banco" %>
                  <%= f.number_field :bank_account, class: "form-control", placeholder: "Cuenta de Banco" %>
                </div>
                  <%= f.hidden_field :employee_status, value: true %>
                <div class="form-group">
                  <%= f.label :blood_type, "Tipo de Sangre " %>
                  <%= f.select :blood_type, Employee.bloods, {}, class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.label :emergency_contact_name, "Contacto de emergencia" %>
                  <%= f.text_field :emergency_contact_name, class: "form-control", placeholder: "Nombre De Contacto" %>
                </div>
                <div class="form-group">
                  <%= f.label :emergency_contact_number, "Contacto de emergencia" %>
                  <%= f.number_field :emergency_contact_number, class: "form-control", placeholder: "Numero de Contacto" %>
                </div>
                <div class="form-group">
                  <%= f.label :image, "Imagen" %>
                  <%= f.file_field :image %>
                </div>


                <div>
                  <%= f.label :work_structure_id, "Puesto" %>
                  <%= f.select(:work_structure_id) do %>
                    <% WorkStructure.all.each do |a| -%>
                      <%= content_tag(:option, a.department + " - " + a.area, value: a.id) %>
                    <% end %>
                  <%end%>
                </div>
              </div>
              <br>
              </div>
